

.current-chat-friendly-name{
    font-size: 1.5em;
    margin: 0;
    margin-left: 0.4cm;
}

.current-chat-username{
    font-size: 1.1em;
    margin: 0;
    margin-left: 0.4cm;
    font-weight: 200;
}

.current-chat{
    flex-grow: 1;
}

.chat-window-main{
    display: flex;
    flex-flow: column-reverse;
    margin: 0.5em;
}

.message{
    margin-top: 1em;
    max-width: 80%;
    border-radius: 2mm;
    padding-left: 0.2em;
}

.sentby-this{
    margin-left: 20%;
    background-color: lightgray;
}

.sentby-other{
    background-color: #ffb510;
}

.message-details{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin: 0;
    font-size: 75%;
}

.message-text{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.message:last-child{
    margin-top: 3em;
}

.message:first-child{
    margin-bottom: 2em;
}

footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #fcfcfc;
}

#new-message-text{
    width: 85%;
    height: 2.3em;
}

#message-send{
    position: absolute;
    bottom: 0.1em;
    right: 0.3em;
    background-color: #fcfcfc;
}


/*Media queries*/
/* TODO Device/media dodad */
@media screen and (min-width:800px){
    .message{
        margin-top: 1em;
        max-width: 55%;
        border-radius: 2mm;
        padding-left: 0.2em;
    }
    
    .sentby-this{
        margin-left: 45%;
        
    }
    
    footer{
        max-width: 50%;
        left: 25%;
        right: 25%;
    }
}
