main{
    margin-top: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


button{
    color: black;
    background-color: orange;
}


@media screen and (min-width:800px){
    
    main{
        margin-left: auto;
        margin-right: auto;
    }
}
