body{
    background-color: orange;
    max-width: 800px;
    margin-left: 2%;
}

.login-page-form, .setting-form{
    display: grid;
    grid-template-columns: 2% 32% 64% 2%;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr 1fr;
    row-gap: 0.4em;
}

a{
    color: black;
}

#username-label{
    grid-column: 2;
    grid-row: 1;
}

#username-field{
    grid-column: 3;
    grid-row: 1;
}

#friendly-name-label, #current-password-label{
    grid-column: 2;
    grid-row: 2;
}

#friendly-name-field, #current-password-label{
    grid-column: 3;
    grid-row: 2;
}

#password-label, #new-password-label{
    grid-column: 2;
    grid-row: 4;
}
#password-field, #new-password-field{
    grid-column: 3;
    grid-row: 4;
}

#password-req-label{
    grid-column: 2;
    grid-row: 3;
   
}

#password-req-text{
    grid-column: 3;
    grid-row: 3;
    
}

#password-confirm-label, #new-password-confirm-label{
    grid-column: 2;
    grid-row: 5;
}
#password-confirm-field, #new-password-confirm-field{
    grid-column: 3;
    grid-row: 5;
}

#login-button, #change-button{
    grid-column: 2;
    grid-row: 6;
    color: black;
}

@media screen and (min-width:800px){
    .login-page-form, .setting-form{
        grid-template-columns: 33% 67% ;
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
    }
    
    #username-label, #current-password-label{
        grid-column: 1;
        grid-row: 1;
    }
    
    #username-field, #current-password-field{
        grid-column: 2;
        grid-row: 1;
    }
    
    #friendly-name-label{
        grid-column: 1;
        grid-row: 2;
    }
    
    #friendly-name-field{
        grid-column: 2;
        grid-row: 2;
    }
    
    #password-req-label{
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 0;
    }

    #password-req-text{
        grid-column: 2;
        grid-row: 3;
        margin-bottom: 0;
    }
    
    #password-label, #new-password-label{
        grid-column: 1;
        grid-row: 4;
    }
    #password-field, #new-password-field{
        grid-column: 2;
        grid-row: 4;
    }
    #password-confirm-label, #confirm-new-password-label{
        grid-column: 1;
        grid-row: 5;
    }
    #password-confirm-field, #confirm-new-password-field{
        grid-column: 2;
        grid-row: 5;
    }
    
    #login-button, #change-button{
        grid-column: 1;
        grid-row: 6;
        color: black;
    }

    body{
        margin-left: auto;
        margin-right: auto;
    }
}
