body{
    margin: 0;
    font-family: 'Mukata', sans-serif;
    background-color: #fcfcfc;
}

/* BUG The header hides certain parts of the top message. */
header{
    display: flex;
    background-color: orange;
    position: fixed;
    width: 100%;
    top: 0;
}

.button-image{
    width: 30px;
}

.header-button{
    align-self: center;
    margin: 0.1em;
    background: orange;
}

#user-button{
    justify-self: right;
}

/*TODO Move page specific CSS to another file to reduce loading time of unnessecary CSS rules */
main, footer{
    max-width: 960px;
}

.current-chat-friendly-name{
    font-size: 1.5em;
    margin: 0;
    margin-left: 0.4cm;
}

.current-chat-username{
    font-size: 1.1em;
    margin: 0;
    margin-left: 0.4cm;
    font-weight: 200;
}

.current-chat{
    flex-grow: 1;
}

.chat-window-main{
    display: flex;
    flex-flow: column-reverse;
    margin: 0.5em;
}

.message{
    margin-top: 1em;
    max-width: 80%;
    border-radius: 2mm;
    padding-left: 0.2em;
}

.sentby-this{
    margin-left: 20%;
    background-color: lightgray;
}

.sentby-other{
    background-color: #ffb510;
}

.message-details{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin: 0;
    font-size: 75%;
}

.message-text{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.message:last-child{
    margin-top: 3em;
}

.message:first-child{
    margin-bottom: 2em;
}

footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #fcfcfc;
}

#new-message-text{
    width: 85%;
    height: 2.3em;
}

#message-send{
    position: absolute;
    bottom: 0.1em;
    right: 0.1em;
    background-color: #fcfcfc;
}

